<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ws="http://jax-ws.dev.java.net/spring/core"
	xmlns:wss="http://jax-ws.dev.java.net/spring/servlet" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://jax-ws.dev.java.net/spring/core
       http://jax-ws.java.net/spring/core.xsd
       http://jax-ws.dev.java.net/spring/servlet
       http://jax-ws.java.net/spring/servlet.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<wss:binding url="/jaxws-spring">
		<wss:service>
			<ws:service bean="#surveyWs" />
		</wss:service>
	</wss:binding>
	<context:component-scan base-package="com.yea.enterprise.*" />
	<tx:annotation-driven/>
	
	<!-- Web service bean -->
	<bean id="surveyWs" class="com.yea.enterprise.ws.impl.SurveyWs">
		<property name="coreSurveyService" ref="CoreSurveyService"></property>
	</bean>

	<bean id="CoreSurveyService" class="com.yea.enterprise.service.impl.CoreSurveyServiceImpl">
		<property name="externalSurvey" ref="ExternalSurvey"></property>
	</bean>
	<bean id="ExternalSurvey" class="com.yea.enterprise.service.impl.ExternalSurveyImpl">
		<property name="externalSurveyComp1" ref="ExternalSurveyComp1"></property>
		<property name="externalSurveyComp2" ref="ExternalSurveyComp2"></property>
	</bean>
	<bean id="ExternalSurveyComp2" class="com.yea.enterprise.service.impl.ExternalSurveyComp2" />
	<bean id="ExternalSurveyComp1" class="com.yea.enterprise.service.impl.ExternalSurveyComp1" />


 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
    <property name="url" value="jdbc:mysql://localhost:3306/world" />
    <property name="username" value="root" />
    <property name="password" value="root" />
  </bean>

 
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		p:packagesToScan="com.yea.enterprise.database.model"
		p:dataSource-ref="dataSource">
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="generateDdl" value="true" />
				<property name="showSql" value="true" />
			</bean>
		</property>
	</bean>

	<!-- Transactions -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager" /> 
</beans>